body {
    background-color: #F8F8F8;
    font-family: Times New Roman, serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px #A6A5A0;
}
.logo {
    margin-bottom: 50px;
    background: url(../img/logo.png) no-repeat center ;
    width: 150px;
}
.logo a{
    display: block;
    height: 40px;
}
.head-menu{
    margin-bottom: 40px;
    height: 40px;
    background:url("../img/menu.png") repeat-x;
}
.head-menu li{
    font-size:18px;
    line-height:40px;
    float:left;
}
.head-menu li a{
    padding: 0 50px;
    display: inline-block;
    color: #fff;
    border-right:1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
}
.head-menu li a:hover{
    border-right:1px solid #838383;
    border-left: 1px solid #838383;
    background: #4a4a4a;
    background: linear-gradient(#4a4a4a, #2e2e2e);
}
.content{
    position: relative;
    overflow: hidden;
}
.left-menu{
    width:25%;
    border: 1px solid #DADAD7;
    float: left;
}

.left-menu li{
    height: 40px;
    border-bottom: 1px solid  #DADAD7;
}
.left-menu li:last-child{
    border-bottom: none;
}
.left-menu li a{
    display: block;
    font-size: 15px;
    line-height: 40px;
    padding-left: 25px;
    color: #696969;
}
.left-menu li a:hover{
    background-color: #F5F5F5;
    color: black;
    padding-left: 30px;
}
.right-content{
    width: 70%;
    float: right;
}
.image{
    border: 1px solid  #DADAD7;
    height: 500px;
    background: url(../img/velo.jpg) no-repeat center;
}
.right-content p{
    margin: 30px 30px 50px 20px;
    line-height: 20px;
    font-size: 14px;
    color: #696969;
}
.footer{
    padding: 0 25px;
    height: 40px;
    background-color: #E8E8E8;
    font-size: 13px;
    line-height: 40px;
    color: #696969;
    display: block;
}
.footer a{
    color: #2c2c2c;
    padding-right: 90px;
}
.footer a:hover{
    text-decoration: underline;
}
.copyright{
    float: right;
}
